<!--
  Points component.
-->
<ion-list-header>
  Total Score
</ion-list-header>
<ion-item-group>
  <ion-item>
    <ion-label>
      {{ playing.players[0] }}
    </ion-label>
    <div item-content>
      {{ points[0] }}
    </div>
  </ion-item>
  <ion-item>
    <ion-label>
      {{ playing.players[1] }}
    </ion-label>
    <div item-content>
      {{ points[1] }}
    </div>
  </ion-item>
  <ion-item>
    <ion-label>
      {{ playing.players[2] }}
    </ion-label>
    <div item-content>
      {{ points[2] }}
    </div>
  </ion-item>
</ion-item-group>